@namespace WebClient.Shop.Shared.Shop

<!-- BEGIN SIMILAR PRODUCTS -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <h2>Most popular products</h2>
    <div class="owl-carousel owl-carousel4 owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1710px">
          <div class="owl-item active" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                <div class="sticker sticker-new"></div>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k3.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k4.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                <div class="sticker sticker-sale"></div>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 285px; margin-right: 0px">
            <div>
              <div class="product-item">
                <div class="pi-img-wrapper">
                  <img src="assets/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress" />
                </div>
                <h3><a href="shop-item.html">Berry Lace Dress6</a></h3>
                <div class="pi-price">$29.00</div>
                <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none">prev</div>
          <div class="owl-next" style="display: none">next</div>
        </div>
        <div class="owl-dots" style="">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SIMILAR PRODUCTS -->